.App {

}

.counter {
    border: 1px solid green;
    width: 200px;
    padding: 30px;
    margin: 100px;

}
.table{
    align-content: center;
    border: 1px solid green;
    width: 150px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    color: red;
}
.buttons{
    margin: 15px;
    padding: 5px;
    border: 1px solid green;
    display: flex;
    justify-content: space-around;

}
.table1{
    align-content: center;
    border: 1px solid green;
    width: 150px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    color: black;

}