.counter {
    margin-top: 200px;
    text-align: center;
    width: 90px;
    height: 60px;
    border-color: black;
    background-color: cornflowerblue;
    border-width: 2px;
    border-style: solid;
    margin-left: 600px;

}

.buttonFive {
    color: red;
    padding: 5px;
}

.button {
    color: black;
    padding: 5px;
}
.inline {
    display: inline;
}