.border{
    margin: 50px;
}
.table{
    text-align: center;
    color: red;
    width: auto;
    height: 15px;
    padding: 20px;
    font-size: 20px;
}
.table1{
    text-align: center;
    color: #2374CE;
    width: auto;
    height: 15px;
    padding: 20px;
    font-size: 20px;

}
.settings{
    width: 200px;
    text-align: center;
}
.inputWidth{
    width: 70px;
    margin-left: 30px;
}
.text color{
    color: #2374CE;
}